!!!
html
  head
    title= title
    script(src="./js/jquery.min.js", type="text/javascript")
    script(src="./nowjs/now.js", type="text/javascript")
    script(src="./lib/impact/impact.js", type="text/javascript")
    script(src="./lib/game/main.js", type="text/javascript")
    link(rel='stylesheet', href='/css/style.css')
  body!= body